   <!DOCTYPE html>

   <head>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta charset="UTF-8">
       <link rel="stylesheet" href="/css/main.css">
       <title>Moja strona</title>
   </head>
   <body>
   <div class="header">
       <h1>Domowa biblioteka</h1>
   </div>
   <div class="row">
       <div class="col-2 menu">
           <ul>
               <li><a href="/">Strona g&lstrok;&oacute;wna</a></li>
               <li><a href="/katalog"> Katalog</a></li>
               <li><a href="/dodajksiazke">Dodaj książkę</a></li>
               <li><a href="/katalogopini">Katalog opini</a></li>
               <li><a href="/dodajopinie">Dodaj opinię</a></li>
           </ul>
       </div>
       <div class="col-8" id="t">
           <h1><%=Title%></h1>



               <div class="card-body">
                   <form action="/katalog/wypozycz/<%= ID %>" method="post">
                       <div class="form-group">
                           <label>Wypożyczający:</label>
                           <input type="text" class="form-control" name="Borrower" value="<%= Borrower %>" autocomplete="off">
                       </div>
                        <div class="form-group">
                           <input type="submit" class="btn btn-info" value="Wypożycz"/>
                       </div>
                   </form>
                   <p id ="problem"><%= problem%></p>




               </div>
               </div>


       </div>
   </div>


   </body>



