doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  link(rel='stylesheet' href="/css/main.css")
  title Moja strona
.header
  h1 Domowa biblioteka
.row
  .col-2.menu
    ul
      li
        a(href='/') Strona g&lstrok;&oacute;wna
      li
        a(href='../katalog')  Katalog
      li
        a(href='/dodajksiazke') Dodaj książkę
      li
        a(href='../projekt2/index.html') Projekt 2
      li
        a(href='../projekt3/index.html') Projekt 3
  #tetowe.col-6
    h1 Dzień dobry!
    p
      | Witamy na stronie startowej domowej biblioteki. Proszę wybrać interesującą opcję.

  .col-2.menu
    img(src='/img/ksiazka.jpeg')